/* override some things in bootstrap */
 body {
    /*padding-top: 100px;*/
}
h1, h2, h3, h4, h5, h6, p, a, span, div, button {
    font-family:'Lato', sans-serif !important;
    /*font-family:'Open Sans', sans-serif !important;*/
    /*font-family:'PT Sans', sans-serif !important;*/
}
.btn {
    border-radius: 0 !important;
}
.form-group input {
    border-radius: 0 !important;
}
.thumbnail {
    border: none !important;
}
.lead {
    font-size: 1.2em !important;
}
/**/

/* our styes */
 .bgco {
    background-color: rgba(50, 40, 50, 0.9);
    color: white;
}
.bgco2 {
    background-color: rgba(50, 100, 150, 0.9);
    color: white;
}
.bgc {
    background-color: rgb(60, 50, 60) !important;
    color: white;
}
.H1 {
    font-size: 35px;
    letter-spacing: 0.11em;
}
.H2 {
    font-size: 22px;
    letter-spacing: 0.11em;
}
.H3 {
    font-size: 21px;
    letter-spacing: 0.11em;
}
.wide_text {
    letter-spacing: 0.13em;
}
.bgblk {
    background-color: black;
}
.bgwht {
    background-color: white;
}
.hide {
    display: none;
}
#menubar {
    left: 0;
    right: 0;
    margin: 0;
    border-bottom: solid 1px black;
}
#menubar .nav.navbar-nav li a {
    color: white !important;
}
#menubar .nav.navbar-nav li:hover a {
    color: #aaa !important;
}
#menubar .nav.navbar-nav li.active a {
    color: black !important;
}
.sidebar li.active a {
    color: white;
    font-weight: bold;
}
.show_on_load {
    display: none;
}
.menu_color {
    color: #09d;
}
.twitter_color {
    color: #0cf;
}
.feature-row {
    margin-bottom: 50px;
}
.leftbar {
    height: 100% !important;
    padding: 0 !important;
}
@media all and (max-width: 768px) {
    .leftbar {
        min-height: 100% !important;
        height: auto !important;
        padding: 0 !important;
    }
}
.under_space {
    min-height: 100%;
    height: auto;
    margin-bottom: -180px;
    padding-bottom: 180px;
}
.under_space_main {
    min-height: 100%;
    height: auto;
    margin-bottom: -82px;
    padding-bottom: 82px;
}
.lrpad {
    padding-left: 40px;
    padding-right: 40px;
}
.gap-10 {
    padding-top: 10px;
}
.gap-20 {
    padding-top: 20px;
}
.gap-30 {
    padding-top: 30px;
}
.gap-40 {
    padding-top: 40px;
}
.gap-50 {
    padding-top: 50px;
}
.gap-60 {
    padding-top: 60px;
}
.gap-70 {
    padding-top: 70px;
}
.gap-80 {
    padding-top: 80px;
}
.gap-90 {
    padding-top: 90px;
}
.gap-100 {
    padding-top: 100px;
}
.poster_area {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
}
@media all and (min-height: 500px) {
    .poster_area {
        height: 350px;
    }
}
.poster_area .poster_header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 0 20px;
}
.poster-fixed {
    position: fixed;
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.poster1 {
    background-image: url('/public/img/5907015_l.jpg');
    background-position: top right;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.poster2 {
    background-image: url('/public/img/canstockphoto8821969.jpg');
    background-position: top right;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.report_alert {
    background-color: rgb(220, 200, 200);
    padding: 10px;
    border: 1px #aaa solid;
    border-radius: 10px;
}
.report_warning {
    background-color: rgb(220, 220, 200);
    padding: 10px;
    border: 1px #aaa solid;
    border-radius: 10px;
}
/**/

/* d3 styles */
 .axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
/**/

/* jqueryui styles */
 .ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
 * html .ui-autocomplete {
    height: 200px;
}
/**/

/* angular form styles */
 .css-form input.ng-invalid
/*.ng-dirty*/
 {
    background-color: white;
}
.css-form input.ng-valid.ng-dirty {
    background-color: rgb(160, 200, 250);
}
/*
Allow angular.js to be loaded in body, hiding cloaked elements until 
templates compile.  The !important is important given that there may be 
other selectors that are more specific or come later and might alter display.  
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
@media all and (min-width: 992px) and (max-width: 1099px) {
    .container {
        width: 750px !important;
    }
}
@media all and (min-width: 1100px) and (max-width: 1400px) {
    .container {
        width: 1000px !important;
    }
}
.enter-fade, .view-animate.ng-enter {
    -webkit-transition: 0.3s linear opacity;
    -moz-transition: 0.3s linear opacity;
    -o-transition: 0.3s linear opacity;
    transition: 0.3s linear opacity;
    opacity: 0;
}
.enter-fade.enter-fade-active, .view-animate.ng-enter.ng-enter-active {
    opacity: 1;
}
.view-animate.ng-leave {
    -webkit-transition: 0.3s linear opacity;
    -moz-transition: 0.3s linear opacity;
    -o-transition: 0.3s linear opacity;
    transition: 0.3s linear opacity;
    opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
    opacity: 0;
}
.view-animate {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
/**/

/* http://getbootstrap.com/examples/non-responsive/
 * 
 * Non-responsive overrides
 * 
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
 .nonresp .container {
    max-width: none !important;
    /* fixed width seems unneeded */
}
/* Always float the navbar header */
 .nonresp .navbar-header {
    float: left;
}
/* Undo the collapsing navbar */
 .nonresp .navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.nonresp .navbar-toggle {
    display: none;
}
/* Always apply the floated nav */
 .nonresp .navbar-nav {
    float: left;
    margin: 0;
}
.nonresp .navbar-nav > li {
    float: left;
}
.nonresp .navbar-nav > li > a {
    padding: 15px;
}
/* Redeclare since we override the float above */
 .nonresp .navbar-nav.navbar-right {
    float: right;
}
/* Undo custom dropdowns */
 .nonresp .navbar .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.nonresp .navbar .open .dropdown-menu > li > a {
    color: #333 !important;
}
.nonresp .navbar .open .dropdown-menu > li > a:hover, .nonresp .navbar .open .dropdown-menu > li > a:focus, .nonresp .navbar .open .dropdown-menu > .active > a, .nonresp .navbar .open .dropdown-menu > .active > a:hover, .nonresp .navbar .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}
.nonresp .navbar .open .dropdown-menu > .disabled > a, .nonresp .navbar .open .dropdown-menu > .disabled > a:hover, .nonresp .navbar .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}
/**/
