<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-controller="AboutCtrl" ng-cloak class="bgwht">

	<div class="stable">
		<?# def.include( 'common_menu.html') ?>
	</div>

	<div class="page_content container" style="display: none">
		<div style="padding: 30px 0 30px 0;">
			<h1>About Bullyaware</h1>
			<hr/>
		</div>

		<div style="text-align: justify">
			<p class="lead">
				During September of 2013, the international media covered the story of Rebecca Ann Sedgwick's, a 12-year-old who committed suicide after she had been cyberbullied by her classmates.
			</p>
			<p class="lead">
				We were both shocked and saddened with how terrible yet common cyberbullying has become, and the young age of both the victims and the bullies. We searched for tools teenagers and parents can use to deal with cyberbullying, but couldn't find any.
			</p>
			<p class="lead">
				The combination of a terrible yet unknown risk and lack of tools to mitigate it made us very frustrated. In an age of connected devices, continues communication and social media universes, we provide our young ones with all the opportunities to excel, but do not provide them with any protective gear to assist them when things go wrong. Just like providing an athlete with a flying trapeze while forgetting to provide him with a safety net. Safety nets do not limit the ability of the trapeze artist to perform nor does it limit its movement. On the contrary. They allows much greater freedom but with the required protection.
			</p>
			<p class="lead">
				With that in mind, we established Bullyaware.co.
			</p>
			<p class="lead">
				With our software solutions, we seek out to provide families with a virtual safety nets. Ones that would not interfere with a person’s activity, nor provide in-depth spying or control tools. We do seek to provide ways for teenagers to conduct freely while being protected from cyberbullying.
			</p>
			<p class="lead">
				We seek to create shared value to both parents and teenagers, providing them with products that are good for them, good for their family relationships and address real human needs.
			</p>
		</div>

		<div style="padding: 30px 0 30px 0;">
			<h1>Our partners</h1>
			<hr/>
		</div>
		<style type="text/css">
		div.partner {
			display: inline-block;
			padding: 20px;
		}
		div.partner img {
			height: 100px;
		}
		</style>
		<div class="text-center">
			<div class="partner">
				<a href="http://stopcyberbullying.org/?ref=bullyaware" target="_blank">
					<img src="/public/img/partner_stop_cyberbullying.gif" alt="stopcyberbullyingdd.org" />
				</a>
			</div>
			<div class="partner">
				<a href="http://www.cybersmile.org/?ref=bullyaware" target="_blank">
					<img src="/public/img/partner_cybersmile-logo.png" alt="cybersmile.org" />
				</a>
			</div>
			<div class="partner">
				<a href="http://www.stompoutbullying.org/?ref=bullyaware" target="_blank">
					<img src="/public/img/partner_stomp_out_bullying.jpg" alt="stompoutbullying.org" />
				</a>
			</div>
			<div class="partner">
				<a href="http://cyberbullying.us/?ref=bullyaware" target="_blank">
					<img src="/public/img/partner_cyberbullyingus.png" alt="stompoutbullying.org" />
				</a>
			</div>
		</div>
	</div>

	<div class="stable_foot">
		<?# def.include( 'common_foot.html') ?>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
