<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>

		<style type="text/css">
		.hdr {
			background-color: #f0f0f0;
			border: 2px solid #e0e0e0;
			border-radius: 10px;
			padding: 10px;
		}
		</style>
</head>

<body ng-controller="AdminCtrl" ng-cloak>

	<div>
		<?# def.include( 'common_menu.html') ?>
		<?# def.menubar ?>
	</div>

	<div class="container" style="margin-top: 20px">

		<a data-toggle="collapse" data-target="#combinations" href="#">
			<h3>Events Combinations Stats</h3>
		</a>
		<div id="combinations" class="collapse">
			<div ng-repeat="(desc,count) in event_stats">
				{{ count }} sessions ==> {{ desc }}
			</div>
		</div>

		<a data-toggle="collapse" data-target="#users_list" href="#">
			<h3>Users - total {{data.users.length}}</h3>
		</a>
		<div id="users_list" class="collapse">
			<div ng-repeat="user in data.users | orderBy:'_id':true">
				USER {{stringify(user)}}
			</div>
		</div>

		<a data-toggle="collapse" data-target="#events_list" href="#">
			<h3>Events - total {{data.event_logs.length}}</h3>
		</a>
		<div id="events_list" class="collapse">
			<div ng-repeat="event in data.event_logs | orderBy:'_id':true">
				Session {{event.session}} - {{event.event}}: {{event.data}}
			</div>
		</div>

		<a data-toggle="collapse" data-target="#sessions_list" href="#">
			<h3>Sessions - total {{data.sessions.length}}</h3>
		</a>
		<div id="sessions_list" class="collapse">
			<div ng-repeat="session in data.sessions | orderBy:'_id':true" ng-show="!!session_events[session._id].length">
				<div class="hdr">
					<span>Session #{{ data.sessions.length-$index }}</span>
					&nbsp;
					<span>{{ users[session.user].email && ('EMAIL ' + users[session.user].email) || ''}}</span>
					&nbsp;
					<span>({{ session._id }},{{ session.user }})</span>
				</div>
				<div>
					<div ng-repeat="event in session_events[session._id] | orderBy:'_id':true">
						<span>#{{data.sessions.length - $parent.$index}}.{{session_events[session._id].length - $index}}</span>
						&nbsp; {{event.event}}: {{event.data}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>


	<script type="text/javascript">
	(function() {
		'use strict';
		var bullyaware_app = angular.module('bullyaware_app');
		bullyaware_app.controller('AdminCtrl', ['$scope', AdminCtrl]);

		function AdminCtrl($scope) {
			$scope.data = JSON.parse($('#server_data').html());
			$scope.data.sessions.reverse();

			$scope.users = _.indexBy($scope.data.users, '_id');
			$scope.sessions = _.indexBy($scope.data.sessions, '_id');
			$scope.session_events = _.groupBy($scope.data.event_logs, 'session');

			$scope.event_stats = {};
			_.each($scope.session_events, function(events, session_id) {
				var events_set = {};
				_.each(events, function(event) {
					var key = event.event;
					if (key === 'page') {
						key += ':' + event.data;
					}
					events_set[key] = true;
				});
				var desc = _.keys(events_set).sort().join(', ');
				if (desc in $scope.event_stats) {
					$scope.event_stats[desc]++;
				} else {
					$scope.event_stats[desc] = 1;
				}
			});
		}
	})();
	</script>
</body>

</html>
