<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>

		<style type="text/css">
		.hdr {
			background-color: #f0f0f0;
			border: 2px solid #e0e0e0;
			border-radius: 10px;
			padding: 10px;
		}
		</style>
</head>

<body ng-controller="AdminCtrl" ng-cloak>

	<div id="bg" style="display: none"></div>

	<div class="container" style="margin-top: 20px">

		<a data-toggle="collapse" href="#combinations">
			<h3>Action Combinations Stats</h3>
		</a>
		<div id="combinations" class="collapse">
			<div ng-repeat="(actions,count) in stats">
				{{ count }} sessions ==> {{ actions }}
			</div>
		</div>

		<a data-toggle="collapse" href="#users_list">
			<h3>Users - total {{data.users.length}}</h3>
		</a>
		<div id="users_list" class="collapse">
			<div ng-repeat="user in data.users | orderBy:'_id':true">
				USER {{stringify(user)}}
			</div>
		</div>

		<a data-toggle="collapse" href="#actions_list">
			<h3>Actions - total {{data.actions.length}}</h3>
		</a>
		<div id="actions_list" class="collapse">
			<div ng-repeat="action in data.actions | orderBy:'_id':true">
				<span>Session {{action.session}}</span>
				&nbsp;
				<span ng-repeat="(key,val) in action.data">{{key}}: {{val}}{{!$last && ','||''}}</span>
			</div>
		</div>

		<a data-toggle="collapse" href="#sessions_list">
			<h3>Sessions - total {{data.sessions.length}}</h3>
		</a>
		<div id="sessions_list" class="collapse">
			<div ng-repeat="session in data.sessions | orderBy:'_id':true">
				<div class="hdr">
					<span>Session #{{ data.sessions.length-$index }}</span>
					&nbsp;
					<span>EMAIL {{ users[session.user].email }}</span>
					&nbsp;
					<span>({{ session._id }},{{ session.user }})</span>
				</div>
				<div>
					<div ng-repeat="action in actions[session._id] | orderBy:'_id':true">
						<span>#{{data.sessions.length - $parent.$index}}.{{actions[session._id].length - $index}}</span>
						&nbsp;
						<span ng-repeat="(key,val) in action.data">{{key}}: {{val}}{{!$last && ','||''}}</span>
						&nbsp;
					</div>
				</div>
			</div>
		</div>
	</div>

	<?# def.include( 'common_scripts.html') ?>
		<!-- <script src="/public/js/d3.v3.min.js" charset="utf-8"></script> -->


		<!-- server data is safely embedded in a JSON type script -->
		<script id="server_data" type="application/json">
		<?= JSON.stringify(it) ?>
		</script>

		<script type="text/javascript">
		(function() {
			'use strict';
			var bullyaware_app = angular.module('bullyaware_app');
			bullyaware_app.controller('AdminCtrl', ['$scope', AdminCtrl]);

			function AdminCtrl($scope) {
				$scope.data = JSON.parse($('#server_data').html());
				$scope.data.sessions.reverse();

				$scope.users = _.indexBy($scope.data.users, '_id');
				$scope.sessions = _.indexBy($scope.data.sessions, '_id');
				$scope.actions = _.groupBy($scope.data.actions, 'session');

				$scope.stats = {};
				_.each($scope.actions, function(actions, session_id) {
					var actions_desc = {};
					_.each(actions, function(action) {
						_.each(action.data, function(value, key) {
							actions_desc[key] = true;
						});
					});
					var actions_str = _.keys(actions_desc).sort().join(', ');
					if (actions_str in $scope.stats) {
						$scope.stats[actions_str]++;
					} else {
						$scope.stats[actions_str] = 1;
					}
				});
			}
		})();
		</script>
</body>

</html>
