<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>

		<style type="text/css">
		.hdr {
			background-color: #f0f0f0;
			border: 2px solid #e0e0e0;
			border-radius: 10px;
			padding: 10px;
		}
		</style>
</head>

<body ng-controller="AdminCtrl" ng-cloak>

	<div id="bg" style="display: none"></div>

	<div class="container" style="margin-top: 20px">


		<div>
			<h1>Stats</h1>
			<div class="row">
				<div class="col-xs-6"># Sessions</div>
				<div class="col-xs-6">{{data.sessions.length}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6"># Users</div>
				<div class="col-xs-6">{{data.users.length}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6"># Actions</div>
				<div class="col-xs-6">{{data.actions.length}}</div>
			</div>
		</div>

		<div class="row" ng-repeat="session in data.sessions | orderBy:'_id':true">
			<div class="row hdr">
				<div class="col-xs-1">Session</div>
				<div class="col-xs-1">#{{ data.sessions.length-$index }}</div>
				<div class="col-sm-5">{{ users[session.user].email }}</div>
				<div class="col-sm-5">({{ session._id }},{{ session.user }})</div>
			</div>
			<div class="row">
				<div ng-repeat="action in actions[session._id]">
					<div class="col-xs-1"></div>
					<div class="col-xs-1">#{{data.sessions.length - $parent.$index}} . {{$index}}</div>
					<div class="col-xs-10">
						<span ng-repeat="(key,val) in action.data">{{key}}: {{val}}{{!$last && ','||''}}</span>
						&nbsp;
					</div>
				</div>
			</div>
		</div>
	</div>

	<?# def.include( 'common_scripts.html') ?>
		<!-- <script src="/public/js/d3.v3.min.js" charset="utf-8"></script> -->


		<!-- server data is safely embedded in a JSON type script -->
		<script id="server_data" type="application/json">
		<?= JSON.stringify(it) ?>
		</script>

		<script type="text/javascript">
		(function() {
			'use strict';
			var bullyaware_app = angular.module('bullyaware_app');
			bullyaware_app.controller('AdminCtrl', ['$scope', AdminCtrl]);

			function AdminCtrl($scope) {
				$scope.data = JSON.parse($('#server_data').html());
				$scope.data.sessions.reverse();
				$scope.users = _.indexBy($scope.data.users, '_id');
				$scope.sessions = _.indexBy($scope.data.sessions, '_id');
				$scope.actions = _.groupBy($scope.data.actions, 'session');
			}
		})();
		</script>
</body>

</html>
