<!-- META -->

<!-- charset needs to appear as early as possible -->
<meta charset="utf-8" />
<meta name="description" content="Bully Aware" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="google-site-verification" content="EsW7XgXtvSLOm7SsZsKI6y3vZryFkbAK3lHpRP2WHjQ" />

<title>Bullyaware.co</title>

<!-- STYLES -->

<link rel="shortcut icon" href="/public/img/kid.gif" />

<link href="/public/css/style.css" type="text/css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
<!-- <link href="//bootswatch.com/slate/bootstrap.min.css" rel="stylesheet"> -->
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" rel="stylesheet"> -->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" rel="stylesheet" />
<link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet" />

<!-- Google Fonts -->
<!-- <link href='//fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'> -->
<!-- <link href='//fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'> -->
<!-- <link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'> -->
<!-- <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
<link href='//fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>