<hr/>
<h1 class="H1 text-center" style="color: white">
	<b class="menu_color">Bully</b><b>Aware</b>
</h1>
<p class="H2 text-center" style="color: white">
	<b>Keeping kids safe</b>
</p>
<hr style="margin-bottom: 0"/>
<div class="text-center" style="padding: 10px; font-size: 15px; color: white">
	<span ng-click="on_contact_us()" class="fa-stack" style="cursor: pointer" title="Contact us">
		<i class="fa fa-circle fa-stack-2x menu_color"></i>
		<i class="fa fa-envelope fa-stack-1x"></i>
	</span>
	<span ng-click="on_follow_facebook()" class="fa-stack" style="cursor: pointer; margin-left: 10px" title="Follow on facebook">
		<i class="fa fa-circle fa-stack-2x menu_color"></i>
		<i class="fa fa-facebook fa-stack-1x"></i>
	</span>
	<span ng-click="on_follow_twitter()" class="fa-stack" style="cursor: pointer; margin-left: 10px" title="Follow on twitter">
		<i class="fa fa-circle fa-stack-2x menu_color"></i>
		<i class="fa fa-twitter fa-stack-1x"></i>
	</span>
</div>
