<div class="bgc" style="margin-top: 30px; padding: 30px 0; border-top: 1px black solid; border-bottom: 1px black solid; position: relative; bottom: 0; width: 100%">
	<div class="container">
		<div class="pull-left">
			<!-- <b>Bullyaware.co</b> -->
			<!-- </div> -->
			<!-- <div class="text-right"> -->
			<span>
				<?# def.contact_menu ?>
			</span>

			<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

			<a href="#" ng-click="on_terms_of_use()">
				Terms of use
			</a>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

			<a href="#" ng-click="on_privacy_policy()">
				Privacy policy
			</a>
		</div>
	</div>
</div>
