<div class="bgc" style="margin-top: 30px; padding: 30px 0; border-top: 1px black solid; border-bottom: 1px black solid; position: relative; bottom: 0; width: 100%">
	<div class="container">
		<div class="pull-left">
			<!-- <b>Bullyaware.co</b> -->
		<!-- </div> -->
		<!-- <div class="text-right"> -->
			<span>
				<?# def.contact_menu ?>
			</span>

			<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

			<a href="#" ng-click="on_terms_of_use()">
				Terms of use
			</a>
			<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

			<a href="#" ng-click="on_privacy_policy()">
				Privacy policy
			</a>
		</div>
	</div>
</div>


<!-- LOGIN / SIGNUP MODAL

<div class="modal fade" id="start_modal" tabindex="-1" role="dialog" aria-labelledby="start_modal_label" aria-hidden="true">
	<div class="modal-dialog" style="width: 350px">
		<div class="modal-content" style="border-radius: 0">
			<div class="modal-header" style="background-color: #eee">
				<button class="close pull-right" type="button" data-dismiss="modal" aria-hidden="true" style="padding: 8px 8px">
					<i class="fa fa-times"></i>
				</button>
				<h4 style="padding-left: 8px">Sign up</h4>
			</div>
			<div class="modal-body">
				<form id="signup_form" style="display: none" name="form" role="form" novalidate class="css-form">
					<div class="form-group input-group-lg">
						<input id="first_name" required ng-model="first_name" auto-fill-sync type="text" class="form-control" placeholder="First Name" autocomplete="on" name="firstname" />
					</div>
					<div class="form-group input-group-lg">
						<input id="last_name" required ng-model="last_name" auto-fill-sync type="text" class="form-control" placeholder="Last Name" autocomplete="on" name="lastname" />
					</div>
					<div class="form-group input-group-lg">
						<input id="user_email" required ng-model="user_email" auto-fill-sync type="email" class="form-control" placeholder="Email Address" autocomplete="on" name="email" />
					</div>
					<div class="form-group input-group-lg">
						<input id="user_password" required ng-model="user_password" auto-fill-sync type="password" class="form-control" placeholder="Password" autocomplete="on" name="password" />
					</div>
					<div class="form-group input-group-lg">
						<input id="user_password2" required ng-model="user_password2" auto-fill-sync type="password" class="form-control" placeholder="Confirm Password" autocomplete="on" name="password2" />
					</div>
					<p id="terms">
						<small>
							By clicking "Sign up" you confirm that you accept the
							<a href="#" ng-click="on_terms_of_use()">Terms of Service</a> and
							<a href="#" ng-click="on_privacy_policy()">Privacy Policy</a>.
						</small>
					</p>
					<div id="signup_button" class="form-group input-group-lg">
						<button class="btn btn-primary form-control" ng-click="do_signup()">
							Sign up
						</button>
					</div>
					<div id="open_login_button" class="form-group input-group-lg">
						<button class="btn btn-link form-control" ng-click="toggle_login_signup(true)">
							I already have an account
						</button>
					</div>
				</form>
				<form id="login_form" name="form" role="form" novalidate class="css-form text-center">
					<div class="form-group input-group-lg">
						<input id="login_email" required ng-model="login_email" auto-fill-sync type="email" class="form-control" placeholder="Email Address" autocomplete="on" name="email" />
					</div>
					<div class="form-group input-group-lg">
						<input id="login_password" required ng-model="login_password" auto-fill-sync type="password" class="form-control" placeholder="Password" autocomplete="on" name="password" />
					</div>
					<div class="form-group input-group-lg">
						<button class="btn btn-primary form-control" ng-click="do_login()">
							Login
						</button>
					</div>
					<div id="open_login_button" class="form-group input-group-lg">
						<button class="btn btn-link form-control" ng-click="toggle_login_signup(false)">
							I don't have an account
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
-->