<nav id="menubar" ng-controller="MenuCtrl" class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menu-collapse">
				Menu
				<i class="caret"></i>
			</button>
			<a class="navbar-brand" href="#" ng-click="on_main()" style="color: black; font-weight: 600">
				<b class="menu_color">Bully</b><b>Aware</b>
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-menu-collapse">
			<ul class="nav navbar-nav">
				<li ng-class="active_link('/whatis')">
					<a href="#" ng-click="on_whatis()">
						<b class="menu_color">What is</b>
						<span>Bullyaware</span>
					</a>
				</li>
				<li ng-class="active_link('/about')">
					<a href="#" ng-click="on_about()">
						<b class="menu_color">About</b>
						<span>us</span>
					</a>
				</li>
			</ul>
			<div class="navbar-right">
				<button type="button" class="btn btn-primary navbar-btn" ng-click="on_getstarted()">
					Get started
				</button>
				<button ng-show="!user" type="button" class="btn btn-default navbar-btn" ng-click="on_login()">
					Login
				</button>
				<div ng-show="!!user" class="btn-group">
					<a href="#" class="navbar-link dropdown-toggle" data-toggle="dropdown" style="padding-left: 20px">
						<span>{{ user.email }}</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/user/logout">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
