<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>

		<style type="text/css">
		html, body {
			height: 100%;
		}
		</style>
</head>

<body ng-controller="MainCtrl" ng-cloak>

	<div class="show_on_load hide_on_unload poster2 poster-fixed"></div>

	<div class="show_on_load hide_on_unload" style="height: 100%">

		<div class="col-sm-5 col-md-4" style="height: 100%; padding: 0">

			<div class="under_space bgco lrpad">
				<div class="gap-10">
					<?# def.include( 'common_menu.html') ?>
				</div>

				<div class="gap-60"></div>
				<p class="H3" style="max-width: 330px; text-overflow: clip">
					We are very interested in your feedback.
				</p>

				<div class="gap-20"></div>
				<p class="H3" style="max-width: 340px; text-overflow: clip">
					You are welcome to send us emails to
					<a href="#" ng-click="on_send_mail()">
						info@bullyaware.co
					</a>
				</p>

				<div class="gap-40"></div>
				<div>
					<button class="btn btn-primary btn-lg" style="font-size: 28px; line-height: 1em; letter-spacing: 0.11em; height: 60px" ng-click="on_getstarted()">
						<b>START FREE</b>
						&nbsp;
						<i class="fa fa-angle-right"></i>
					</button>
				</div>

				<!-- 
		<br/>
		<h3>Contact Information</h3>
		<div style="text-align: justify">
			<p class="lead">
				<address>
					<strong>Bullyaware, Inc.</strong>
					<br>
					<br>
					<br>
				</address>
			</p>
		</div>
		-->
			</div>

			<div class="lrpad gap-10">
				<?# def.include( 'common_foot.html') ?>
			</div>
		</div>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
