<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>

		<style type="text/css">
		html, body {
			height: 100%;
		}
		</style>
</head>

<body ng-controller="MainCtrl" ng-cloak>

	<div class="show_on_load hide_on_unload poster2 poster-fixed"></div>

	<div class="show_on_load hide_on_unload" style="height: 100%">

		<div class="bgco col-sm-6 col-md-4" style="min-height: 100%; padding: 10px 20px">

			<div class="pad-10">
				<?# def.include( 'common_menu.html') ?>
			</div>

			<div class="gap-30"></div>
			<h1 class="H1" style="max-width: 400px; text-overflow: clip">
				<b class="menu_color">Bully</b><b>Aware</b>
			</h1>
			<p class="H2" style="max-width: 400px; text-overflow: clip">
				<b>Keeping kids safe</b>
			</p>
			<div class="gap-40"></div>

			<p class="H3" style="max-width: 330px; text-overflow: clip">
				We are very interested in your feedback.
			</p>
			<div class="gap-10"></div>
			<p class="H3" style="max-width: 340px; text-overflow: clip">
				You are welcome to send us emails to
				<a href="#" ng-click="on_send_mail()">
					info@bullyaware.co
				</a>
			</p>
			<div class="gap-10"></div>
			<p class="H3">
				<i>- The Bullyaware team</i>
			</p>
			<!-- 
		<br/>
		<h3>Contact Information</h3>
		<div style="text-align: justify">
			<p class="lead">
				<address>
					<strong>Bullyaware, Inc.</strong>
					<br>
					<br>
					<br>
				</address>
			</p>
		</div>
		-->
			<div class="gap-20"></div>
			<button class="btn btn-default btn-lg" ng-click="on_main()">
				<i class="fa fa-angle-left"></i>
				&nbsp; Back
			</button>
			<div class="gap-20"></div>
		</div>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
