<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-controller="ContactCtrl" ng-cloak class="bgwht">

	<div class="stable">
		<?# def.include( 'common_menu.html') ?>
	</div>

	<div class="page_content container" style="display: none">
		<div style="padding: 30px 0 30px 0;">
			<h1>Contact Us</h1>
			<hr/>
		</div>

		<h3>What can we do for you?</h3>
		<p class="lead">
			<a href="#" ng-click="on_send_mail()">
				Email us
			</a>
			- We are very interested in your feedback and requests.
		</p>

		<!-- 
		<br/>
		<h3>Contact Information</h3>
		<div style="text-align: justify">
			<p class="lead">
				<address>
					<strong>Bullyaware, Inc.</strong>
					<br>
					<br>
					<br>
				</address>
			</p>
		</div>
		-->
	</div>

	<div class="stable_foot">
		<?# def.include( 'common_foot.html') ?>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
