<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>

		<style type="text/css">
		html, body {
			height: 100%;
		}
		</style>
</head>

<body ng-controller="MainCtrl" ng-cloak>

	<!-- <div class="show_on_load hide_on_unload poster1 poster-fixed"></div> -->

	<div id="loading_panel" class="text-center" style="font-size: 80px; padding: 20px; z-index: 100; background-color: rgba(255,255,255,0.6); top: 0; left: 0; min-width: 100%; min-height: 100%; position: absolute; border-radius: 10px">
		<i class="fa fa-spinner fa-spin"></i>
	</div>

	<div ng-controller="SettingsCtrl" class="show_on_load hide_on_unload" style="height: 100%">

		<div class="col-sm-6 col-md-4" style="height: 100%; padding: 0">

			<div class="under_space bgc lrpad">

				<div class="gap-10">
					<?# def.include( 'common_menu.html') ?>
				</div>

				<div class="gap-60"></div>
				<ul class="list-group" style="color: black">
					<li class="list-group-item">
						<a href="#"><b>Status</b></a>
					</li>
					<li ng-if="false" class="list-group-item" href="#">
						<a href="#/preferences"><b>Preferences</b></a>
					</li>
					<li class="list-group-item">
						<b>Children</b>
						<div class="gap-10"></div>
						<ul class="nav nav-pills nav-stacked">
							<li ng-repeat="person in user_info.persons | orderBy:return_id:false" class="{{active_link_hash('#/person/'+return_id(person))}}">
								<a href="#/person/{{return_id(person)}}">
									<i class="fa fa-user fa-fw"></i>
									{{person.name}}
								</a>
							</li>
							<li>
								<a href="#" ng-click="on_create()">Create...</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="bgc lrpad">
				<div class="gap-10"></div>
				<hr/>
				<h1 class="H1 text-center">
					<b class="menu_color">Bully</b><b>Aware</b>
				</h1>
				<p class="H2 text-center">
					<b>Keeping kids safe</b>
				</p>
				<hr/>
			</div>
		</div>

		<div class="col-sm-6 col-md-8" style="min-height: 100%; padding: 0; background-color: white">
			<div ng-view class="view-animate"></div>
		</div>

		<div class="clearfix"></div>

	</div>


	<div>
		<?='<script type="text/ng-template" id="/status.html">' ?>
			<div>
				<h1>STATUS</h1>
			</div>
			<?='</script>' ?>
	</div>

	<div>
		<?='<script type="text/ng-template" id="/prefs.html">' ?>
			<div>
				<h1>PREFS</h1>
			</div>
			<?='</script>' ?>
	</div>

	<div>
		<?='<script type="text/ng-template" id="/person.html">' ?>
			<div ng-if="person">
				<h2>
					<i class="fa fa-user fa-fw"></i>
					{{person.name}}
				</h2>

				<hr/>

				<div ng-repeat="identity_id in person.identities | orderBy:return_arg:false" ng-init="identity=user_info.identity_map[identity_id]">
					<div class="row">
						<div class="col-xs-8">
							<h5>
								<i class="fa fa-fw fa-twitter fa-lg text-info"></i>
								<span class="lead">
									{{ identity_account_name(identity) }}
								</span>
							</h5>
						</div>
						<div class="col-xs-4 text-right">
							<a class="btn btn-link btn-sm" ng-href="//{{identity_link(identity)}}" title="{{identity_link(identity)}}" target="_blank">
								<i class="fa fa-external-link" style="color: black"></i>
							</a>
							<a class="btn btn-link btn-sm" ng-click="del_identity(person,identity)" title="Remove {{identity_account_name(identity)}}...">
								<i class="fa fa-trash-o" style="color: black"></i>
							</a>
						</div>
					</div>
				</div>

				<hr/>

				<div>
					<p>Add social accounts used by the child.</p>
					<p>Accounts are monitored for social activity of either victim or bully.</p>
					<p>Enter the twitter user name or screen-name (@name) and choose from drop down.</p>
					<button class="btn btn-info btn-lg" title="Add Twitter account" ng-click="click_add_twit(person)">
						<i class="fa fa-twitter fa-lg fa-inverse"></i>
						<i class="fa fa-plus fa-inverse"></i>
					</button>
					<div class="form-group input-group-lg" style="display: inline-block">
						<input nb-twitter-chooser="add_twit_identity(person, $item)" id="new_twit_id_{{return_id(person)}}" class="form-control input-group-lg" type="text" placeholder="Twitter Chooser" style="width: 200px; display: inline-block" />
						<span class="twitter-chooser-spin" style="opacity: 0">
							<i class="fa fa-spinner fa-spin"></i>
						</span>
					</div>
				</div>

				<hr/>

				<div>
					<button class="btn btn-warning btn-lg" ng-click="do_report(person)">
						<i class="fa fa-bar-chart-o"></i>
						View Report
					</button>
					<div ng-show="!!person.report">
						<div class="gap-10"></div>
						<div class="panel panel-default">
							<div class="panel-heading text-center">
								<h2>
									<i class="fa fa-bar-chart-o fa-lg"></i>
									{{ person.name }}
								</h2>
							</div>
							<div class="panel-body">
								<p>Sent {{person.report.send_stats.num_msg}} messages</p>
								<p>Mentioned in {{person.report.rcv_stats.num_msg}} messages</p>
							</div>
						</div>
					</div>
				</div>

				<hr/>

				<div>
					<button class="btn btn-danger btn-lg" ng-click="del_person(person)">
						<i class="fa fa-trash-o"></i>
						Delete {{person.name}}
					</button>
				</div>

				<div class="gap-20"></div>
			</div>
			<?='</script>' ?>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
