<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-controller="MainCtrl" ng-cloak class="bgwht">

	<div>
		<?# def.include( 'common_menu.html') ?>
		<?# def.menubar ?>
	</div>

	<div ng-controller="DemoCtrl" class="show_on_load hide_on_unload container">
		<div class="page-header">
			<h1>Twitter Analysis Example</h1>
		</div>

		<h3>Enter a Twitter account to perform live analysis:</h3>
		<div class="row">
			<div class="form-group input-group col-sm-6">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default">
						<i class="fa fa-twitter fa-lg fa-fw" style="color: #7af"></i>
					</button>
				</div>

				<input id="target_account" ng-model="target_account" type="text" class="form-control" placeholder="Enter Twitter account" autocomplete="on" ng-disabled="!last_result" />

				<div class="input-group-btn">
					<button type="button" class="btn btn-primary" ng-click="analyze()" ng-disabled="!last_result">
						<i class="fa {{last_result && 'fa-arrow-right' || 'fa-spinner fa-spin'}} fa-lg fa-fw"></i>
					</button>
				</div>
			</div>
		</div>

		<div ng-show="last_result">
			<h3>Summary</h3>
			<ul class="fa-ul" style="margin-left: 0; color: {{level_to_color(last_result.level)}}">
				<li>
					<i class="fa-li fa fa-ok"></i>
					Analyzed Twitter account {{last_query}}
				</li>
				<li>
					<i class="fa-li fa fa-ok"></i>
					Performed text processing on last {{last_result.messages.length}} messages
				</li>
				<li ng-show="is_level_low(last_result.level)">
					<i class="fa-li fa fa-ok"></i>
					The current status seems to be fine
				</li>
				<li ng-show="is_level_med(last_result.level)">
					<i class="fa-li fa fa-ok"></i>
					The current status seems to require some attention
				</li>
				<li ng-show="is_level_high(last_result.level)">
					<i class="fa-li fa fa-ok"></i>
					The current status seems to be problematic and requires serious attention
				</li>
				<li>
					<i class="fa-li fa fa-ok"></i>
					Monitoring is advised
				</li>
			</ul>

			<h3>Timeline</h3>
			<p>Click on the points to see the related message</p>
			<div id="graph"></div>

			<h3>Top Priority</h3>
			<ul class="fa-ul" style="margin-left: 0">
				<li ng-repeat="user in last_result.users | limitTo:3" style="padding:0">
					<a ng-href="//twitter.com/{{user.info.screen_name}}" target="_blank" style="color: black">
						<img ng-src="{{user.info.profile_image_url}}" width="30" height="30" style="border: solid 2px white" />
						<!-- <i class="fa-li fa fa-user fa-fw"></i> -->
						<b>{{ user.info.name }}</b>
					</a>
					<ul class="fa-ul" style="margin-left: 0">
						<li ng-repeat="msg in user.messages | limitTo:3" style="padding:0">
							<i class="fa-li fa fa-twitter fa-fw" style="color: {{level_to_color(msg.level)}}"></i>
							{{ msg.text }}
						</li>
					</ul>
				</li>
			</ul>
		</div>

	</div>

	<div>
		<?# def.include( 'common_foot.html') ?>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

	<script src="/public/js/d3.v3.min.js" charset="utf-8"></script>

</body>

</html>
