<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-controller="MainCtrl">

	<div>
		<?# def.include( 'common_menubar.html') ?>
	</div>

	<div class="jumbotron">
		<div class="container">
			<h3>We're getting reports that this page cannot be found.</h3>
			<h3>Stay tuned as this crisis unfolds.</h3>
			<div ng-show="false" class="lead">
				<?! it.err ?>
			</div>
		</div>
	</div>

	<div>
		<?# def.include( 'common_foot.html') ?>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>
</body>

</html>
