<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
    <?# def.include( 'common_head.html') ?>

        <style type="text/css">
        </style>
</head>

<body ng-controller="FeaturesCtrl" ng-cloak>

    <div class="stable">
        <?# def.include( 'common_menu.html') ?>
    </div>
    <div class="container">
        <div id="features_div">
            <div style="padding: 40px 0 30px 0;">
                <h1>Bullyaware features</h1>
                <hr/>
            </div>
            <div class="container">
                <div class="lc">
                    <h3>Require teenager’s cooperation and agreement</h3>
                    <p class="lead">
                        Bullyaware is a tool that enables teens and parents to deal with cyberbullying using technology. Unlike parental control systems, it requires the teenager's agreement.
                    </p>
                    <br/>
                </div>
                <div class="rc">
                    <img src="/public/img/cooperation.jpg" alt="">
                </div>
            </div>

            <div class="container">
                <div class="lc">
                    <img src="/public/img/cyberbullying.jpg" alt="">
                </div>
                <div class="rc">
                    <h3>Analyze any social networks for cyberbullying risks</h3>
                    <p class="lead">
                        Cyberbullying takes many forms and shapes. It can include profanities, abusive language, humiliation, exclusion and more. Bullyaware identifies suspicious patterns and helps in early cyberbullying identification.
                    </p>
                    <br/>
                </div>
            </div>

            <div class="container">
                <div class="lc">
                    <h3>Provide information on best response to specific cyberbullying situation</h3>
                    <p class="lead">
                        Not all cyberbullying requires the same response. Good response may vary from ignoring it altogether, to reporting and engaging the authorities. Bullyaware will provide you with the various alternatives which best fit the situation.
                    </p>
                    <br/>
                </div>
                <div class="rc">
                    <img src="/public/img/best_response.jpg" alt="">
                </div>
            </div>

            <div class="container">
                <div class="lc">
                    <img src="/public/img/warning.jpg" alt="">
                </div>
                <div class="rc">
                    <h3>Alert kids when they behave like bullies</h3>
                    <p class="lead">
                        Being a cyberbully has sever implications outside the internet and in real life for both the victim and the abuser. Not all cyberbullies are aware of the implications of their misconduct, which might expose both themselves and their parents to face legal charges. Bullyaware notifies oblivious abusers and helps reduce the risk on both victims and bullies.</p>
                    <br/>
                </div>
            </div>


            <p class="lead text-center" style="margin: 15px 0 15px 0">
                <button class="btn btn-lg btn-primary" ng-click="on_getstarted()">
                    Get started
                </button>
            </p>
        </div>
        <div id="anti_features_div">
            <div style="padding: 40px 0 30px 0;">
                <h1>Features you won't find on Bullyaware</h1>
                <hr/>
            </div>

            <div class="container">
                <div class="lc">
                    <h3>Forcefully monitor unwillful teenager</h3>
                    <p class="lead">
                        Bullyaware is a strong believer in teenagers’ autonomy. If a teenager does not see the value in the service we provide or requests us to stop monitor his/her account, we will always respond.
                    </p>
                    <br/>
                </div>
                <div class="rc">
                    <img src="/public/img/force.jpg" alt="">
                </div>
            </div>
            <div class="container">
                <div class="lc">
                    <img src="/public/img/spy.jpg" alt="">
                </div>
                <div class="rc">
                    <h3>Strong parental control</h3>
                    <p class="lead">
                        We do not believe in controlling teenagers. We believe in healthy limitations that protect the young generation from a position of acceptance of the parental authority. We do not believe in forcing lost authority by providing control tools.
                    </p>
                    <br/>
                </div>

            </div>
            <div class="container">
                <div class="lc">
                    <h3>Become the perfect punishment tool</h3>
                    <p class="lead">
                        Parents must not punish or judge teenagers due to alerts received on Bullyaware. If we will become aware of such misconduct by a friend or other source, we will stop our interaction.
                    </p>
                    <br/>
                </div>
                <div class="rc">
                    <img src="/public/img/punish.jpg" alt="">
                </div>

            </div>

            <br/>
            <p class="lead text-center" style="margin: 15px 0 15px 0">
                <button class="btn btn-lg btn-primary" ng-click="on_getstarted()">
                    Get started
                </button>
            </p>
        </div>

    </div>


    <div class="stable_foot">
        <?# def.include( 'common_foot.html') ?>
    </div>

    <div>
        <?# def.include( 'common_scripts.html') ?>
    </div>

</body>

</html>
