<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-controller="GetStartedCtrl" ng-cloak>

	<div class="stable">
		<?# def.include( 'common_menu.html') ?>
	</div>

	<div id="getstarted_content" class="container" style="display: none">
		<div style="padding: 30px 0 30px 0;">
			<h1>Get Started</h1>
			<hr/>
		</div>
	</div>


	<div class="stable_foot">
		<?# def.include( 'common_foot.html') ?>
	</div>


	<!-- server data is safely embedded in a JSON type script -->
	<script id="server_data" type="application/json">
	<?= JSON.stringify(it) ?>
	</script>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
