<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>

		<style type="text/css">
		html, body {
			height: 100%;
		}
		</style>
</head>

<body ng-controller="MainCtrl" ng-cloak>

	<div>
		<?# def.include( 'common_menu.html') ?>
	</div>

	<div class="show_on_load hide_on_unload poster1 poster-fixed"></div>

	<div class="show_on_load hide_on_unload" style="height: 100%">

		<div class="bgco col-sm-6 col-md-4" style="min-height: 100%; padding: 10px 20px; border-right: 1px white solid">

			<div class="pad-10">
				<?# def.compact_menu ?>
			</div>

			<div class="gap-30"></div>
			<h1 class="H1">
				<b class="menu_color">Bully</b><b>Aware</b>
			</h1>
			<p class="H2" style="width: 400px">
				<b>Keeping kids safe</b>
			</p>
			<div class="gap-40"></div>

			<p class="H3" style="width: 400px">
				Bullyaware monitors social networks for cyber bullying
			</p>

			<div class="gap-30"></div>

			<p class="H3" style="width: 400px">
				Get email alerts when your children are being bullied
			</p>

			<div class="gap-50"></div>

			<div style="text-align: left">
				<button class="btn btn-primary btn-lg" style="font-size: 30px; line-height: 1em; letter-spacing: 0.11em; text-align: left; width: 150px; height: 60px; margin-right: 10px" ng-click="on_signup()">
					<b>Next</b>
					&nbsp;
					<i class="fa fa-angle-right"></i>
				</button>
			</div>

			<div class="gap-20"></div>
		</div>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
