<p>
	Dear Sir or Madam
</p>
<p>
	Bullyaware's technology detected cyber bullying by analyzing activity in social networks.
</p>
<p>
	This is an alert about your child.
</p>
<div class="report_alert">
	<i class="fa fa-exclamation-triangle fa-fw"></i>
	Your child appears to be a repeating target to offensive messages
	<span class="pull-right badge">21 this week</span>
	<span class="pull-right badge">6 today</span>
</div>
<div class="gap-10"></div>
<div class="report_alert">
	<i class="fa fa-exclamation-triangle fa-fw"></i>
	Your child appears to be repeatingly sending offensive messages
	<span class="pull-right badge">12 this week</span>
	<span class="pull-right badge">5 today</span>
</div>
<div class="gap-10"></div>
<div class="report_warning">
	<i class="fa fa-exclamation fa-fw"></i>
	Significant increase in number of messages sent/mentioning your child
	<span class="pull-right badge">85 this week</span>
	<span class="pull-right badge">14 today</span>
</div>
<div class="gap-10"></div>
<div class="report_warning">
	<i class="fa fa-exclamation fa-fw"></i>
	Significant increase of profanities in messages sent/mentioning your child
	<span class="pull-right badge">29 this week</span>
	<span class="pull-right badge">7 today</span>
</div>
<div class="gap-10"></div>
