<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-controller="SettingsCtrl" ng-cloak>

	<div class="stable">
		<?# def.include( 'common_menu.html') ?>
	</div>

	<div class="container page_content" style="display: none; padding-bottom: 30px">

		<div style="padding: 30px 0 15px 0;">
			<h1>Settings</h1>
			<hr/>
		</div>

		<div style="margin-bottom: 40px; position: relative">
			<div id="loading_panel" class="text-center" style="font-size: 80px; padding: 20px; z-index: 100; background-color: rgba(255,255,255,0.9); top: 0; left: 0; min-width: 100%; min-height: 100%; position: absolute; border-radius: 10px">
				<i class="fa fa-spinner fa-spin"></i>
			</div>

			<h2>People</h2>
			<div ng-repeat="person in user_info.persons | orderBy:return_id:false" class="row" style="margin-bottom: 20px">
				<div class="col-sm-6">
					<div style="padding: 15px; border: 1px #08c solid; border-radius: 5px">
						<h2 class="text-center">
							<i class="fa fa-user fa-lg fa-fw menu_color"></i>
							{{ person.name }}
						</h2>
						<div class="btn-toolbar text-left">
							<button class="btn btn-default btn-sm" ng-click="del_person(person)" title="Remove {{person.name}}...">
								<i class="fa fa-trash-o"></i>
							</button>
							<button class="btn btn-warning btn-sm" ng-click="do_report(person)" title="Report">
								<i class="fa fa-bar-chart-o"></i>
							</button>
							<button class="btn btn-info btn-sm" title="Add Twitter account to person" ng-click="toggle_add_twit(person)">
								<i class="fa fa-twitter fa-lg menu_color"></i>
								<i class="fa fa-plus menu_color"></i>
							</button>
							<input nb-twitter-chooser="add_twit_identity(person, $item)" id="new_twit_id_{{return_id(person)}}" class="form-control input-control-sm" type="text" placeholder="Twitter account" style="width: 0; display: inline-block; opacity: 0" />
						</div>
						<br/>
						<div ng-repeat="identity_id in person.identities | orderBy:return_arg:false" ng-init="identity=user_info.identity_map[identity_id]" class="row" style="margin-bottom: 10px; border-top: 1px grey dotted; padding-top: 10px">
							<div class="col-xs-10">
								<h5>
									<i class="fa fa-fw fa-twitter fa-lg menu_color"></i>
									<b>{{ identity_account_name(identity) }}</b>
									&nbsp;
									<img width="32" src="{{identity.profile.profile_image_url}}" />
								</h5>
								<div style="padding-left: 30px">
									<small>
										{{ identity_real_name(identity) }} <u>from</u> {{ identity_location_info(identity) }}
										<br/>{{ identity_more_info(identity) }}
										<br/>
									</small>
								</div>
							</div>
							<div class="col-xs-2">
								<button class="btn btn-default btn-xs pull-right" ng-click="del_identity(person,identity)" title="Remove {{identity_account_name(identity)}}...">
									<i class="fa fa-trash-o"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6" ng-show="!!person.report">
					<div style="padding: 15px; border: 1px #08c solid; border-radius: 5px">
						<h2 class="text-center">
							<i class="fa fa-bar-chart-o fa-lg"></i>
							{{ person.name }} Report
						</h2>
						<p>Sent {{person.report.send_stats.num_msg}} messages</p>
						<p>Mentioned in {{person.report.rcv_stats.num_msg}} messages</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="input-group" style="margin-bottom: 20px">
						<input id="new_person" ng-model="new_person" type="text" class="form-control" placeholder="Add Person" autocomplete="on" />
						<div class="input-group-btn">
							<button type="button" class="btn btn-primary" ng-click="add_person(new_person)">
								<i class="fa fa-plus fa-lg fa-fw"></i>
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


	<div class="stable_foot">
		<?# def.include( 'common_foot.html') ?>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
