<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-controller="SignupCtrl" ng-cloak>

	<div class="stable">
		<?# def.include( 'common_menu.html') ?>
	</div>

	<div id="signup_content" class="container text-center" style="display: none; padding-bottom: 30px">
		<div style="padding: 30px 0 30px 0;">
			<h1>Create your account</h1>
			<hr/>
		</div>

		<form id="signup_form" name="form" role="form" novalidate class="css-form col-sm-offset-3 col-sm-6">
			<div class="form-group">
				<input id="user_email" required ng-model="user_email" auto-fill-sync type="email" class="form-control" placeholder="Your email address" autocomplete="off" name="email" />
			</div>
			<div class="form-group">
				<input id="user_password" required ng-model="user_password" auto-fill-sync type="password" class="form-control" placeholder="Choose password" name="password" />
			</div>
			<div class="form-group">
				<input id="user_password2" required ng-model="user_password2" auto-fill-sync type="password" class="form-control" placeholder="Retype password" name="password2" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary form-control" ng-click="do_signup()">
					<i class="icon-arrow-right icon-large icon-fixed-width"></i>
				</button>
			</div>
		</form>
	</div>


	<div class="stable_foot">
		<?# def.include( 'common_foot.html') ?>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
