<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-controller="SignupCtrl" ng-cloak>

	<div class="stable">
		<?# def.include( 'common_menu.html') ?>
		<?# def.menubar ?>
	</div>

	<div class="page_content container" style="display: none; padding-bottom: 30px">
		<div class="page-header">
			<h1>Get started in 3 quick steps:</h1>
		</div>

		<div class="col-sm-6">
			<div style="background-color: #eef; border-radius: 10px; margin-bottom: 20px; padding: 20px">
				<h4><b><i class="fa fa-caret-right fa-fw"></i> Create a personal account</b>
				</h4>
				<h4><i class="fa fa-caret-right fa-fw"></i> Setup social accounts to monitor</h4>
				<h4><i class="fa fa-caret-right fa-fw"></i> Subscribe and get 30 days free trial</h4>
				<div style="padding: 45px 0 20px 0">
					<a type="button" class="btn btn-success" href="/demo" target="_blank">
						See Risk Analysis Example
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div style="background-color: #eef; border-radius: 10px; margin-bottom: 20px; padding: 20px">
				<form id="signup_form" name="form" role="form" novalidate class="css-form">
					<div class="form-group">
						<input id="user_email" required ng-model="user_email" auto-fill-sync type="email" class="form-control" placeholder="Your email address" autocomplete="off" name="email" />
					</div>
					<div class="form-group">
						<input id="user_password" required ng-model="user_password" auto-fill-sync type="password" class="form-control" placeholder="Choose password" name="password" />
					</div>
					<div class="form-group">
						<input id="user_password2" required ng-model="user_password2" auto-fill-sync type="password" class="form-control" placeholder="Retype password" name="password2" />
					</div>
					<div class="form-group">
						<button class="btn btn-primary form-control" ng-click="do_signup()">
							Signup <i class="fa fa-arrow-right fa-lg fa-fw"></i>
						</button>
					</div>
				</form>
			</div>
		</div>

	</div>


	<div class="stable_foot">
		<?# def.include( 'common_foot.html') ?>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
