<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>

		<style type="text/css">
		html, body {
			height: 100%;
		}
		</style>
</head>

<body ng-controller="MainCtrl" ng-cloak>

	<!-- <div class="show_on_load hide_on_unload poster1 poster-fixed"></div> -->

	<div class="show_on_load hide_on_unload" style="height: 100%">

		<div class="col-sm-5 col-md-4" style="height: 100%; padding: 0">

			<div class="under_space bgc lrpad">

				<div class="gap-10">
					<?# def.include( 'common_menu.html') ?>
				</div>

				<div class="gap-60"></div>
				<p class="H3">
					Sign up for free:
				</p>

				<div class="gap-20"></div>
				<form name="form" role="form" novalidate class="css-form" autocomplete="on">
					<div class="form-group Xinput-group-lg">
						<input id="signup_first_name" required ng-model="signup_first_name" auto-fill-sync type="text" class="form-control" placeholder="First Name" autocomplete="on" name="firstname" />
					</div>
					<div class="form-group Xinput-group-lg">
						<input id="signup_last_name" required ng-model="signup_last_name" auto-fill-sync type="text" class="form-control" placeholder="Last Name" autocomplete="on" name="lastname" />
					</div>
					<div class="form-group Xinput-group-lg">
						<input id="signup_email" required ng-model="signup_email" auto-fill-sync type="email" class="form-control" placeholder="Email Address" autocomplete="on" name="email" />
					</div>
					<div class="form-group Xinput-group-lg">
						<input id="signup_password" required ng-model="signup_password" auto-fill-sync type="password" class="form-control" placeholder="Password" autocomplete="on" name="password" />
					</div>
					<div class="form-group Xinput-group-lg">
						<input id="signup_password2" required ng-model="signup_password2" auto-fill-sync type="password" class="form-control" placeholder="Confirm Password" autocomplete="on" name="password2" />
					</div>
					<div class="form-group Xinput-group-lg">
						<button class="btn btn-primary form-control" ng-click="do_signup()">
							Sign up
						</button>
					</div>
					<p>
						<small>
							By clicking "Sign up" you confirm that you accept the
							<br/>
							<a href="#" ng-click="goto_terms_of_use()">Terms of Service</a> and
							<a href="#" ng-click="goto_privacy_policy()">Privacy Policy</a>.
						</small>
					</p>
				</form>
			</div>
			<div class="lrpad gap-10">
				<?# def.include( 'common_foot.html') ?>
			</div>
		</div>

		<div class="col-sm-7 col-md-8" style="min-height: 100%; padding: 0; background-color: white">

			<div style="display: none; padding: 20px; background-color: #cccccc; color: #333333">
				<h3>About Cyber Bullying</h3>
				<div class="gap-10"></div>
				<p class="lead">
					<i class="fa fa-quote-left fa-fw" style="vertical-align: top"></i>
					Around half of teens have been the victims of cyber bullying
					<i class="fa fa-quote-right fa-fw" style="vertical-align: top"></i>
				</p>
				<p class="lead">
					<i class="fa fa-quote-left fa-fw" style="vertical-align: top"></i>
					Only 1 in 10 teens tells a parent if they have been a cyber bully victim
					<i class="fa fa-quote-right fa-fw" style="vertical-align: top"></i>
				</p>
			</div>

			<div style="padding: 20px 40px">
				<div class="row" style="font-size: 40px">
					<div class="col-xs-3 text-center">
						<div class="fa-stack">
							<i class="fa fa-circle fa-stack-2x" style="color: #ddd"></i>
							<span class="fa-stack-1x">1</span>
						</div>
						<h3>Sign Up</h3>
					</div>
					<div class="col-xs-1 text-center">
						<i class="fa fa-angle-double-right" style="font-size: 1.5em; line-height: 1.2em; color: #ddd"></i>
					</div>
					<div class="col-xs-4 text-center" style="opacity: 0.6">
						<div class="fa-stack">
							<i class="fa fa-circle fa-stack-2x" style="color: #ddd"></i>
							<span class="fa-stack-1x">2</span>
						</div>
						<h3>Choose Social Accounts</h3>
					</div>
					<div class="col-xs-1 text-center">
						<i class="fa fa-angle-double-right" style="font-size: 1.5em; line-height: 1.2em; color: #ddd"></i>
					</div>
					<div class="col-xs-3 text-center" style="opacity: 0.6">
						<div class="fa-stack">
							<i class="fa fa-circle fa-stack-2x" style="color: #ddd"></i>
							<span class="fa-stack-1x">3</span>
						</div>
						<h3>Get Alerts</h3>
					</div>
				</div>
				<div class="gap-10"></div>
				<div class="well well-lg" style="border: 2px #bbb groove; opacity: 0.6">
					<?# def.include( 'report_example.html') ?>
				</div>
			</div>

		</div>

		<div class="clearfix"></div>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
