<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-controller="WelcomeCtrl" ng-cloak>

	<div class="stable">
		<?# def.include( 'common_menu.html') ?>
	</div>

	<div class="poster_area poster1 bgblk" style="display: none">
		<div class="poster_header" style="position: absolute; top:0; left:0; right:0">
			<div class="container">
			</div>
		</div>
		<div class="poster_action" style="position: absolute; bottom:0; left:0; right:0">
			<div class="container">
				<h2 style="margin: 10px 0 0 0">Bullyaware. Always vigilant.</h2>
				<p class="lead" style="margin: 15px 0 0 0">
					Someone you know might be the target of cyber-bullying
				</p>
				<p class="lead" style="margin: 10px 0 0 0">
					With our technology you can change that
				</p>
				<p class="lead" style="margin: 10px 0 15px 0">
					<button class="btn btn-lg btn-info" ng-click="on_whatis()">
						Learn More
					</button>
				</p>
			</div>
		</div>
	</div>


	<div class="stable_foot">
		<?# def.include( 'common_foot.html') ?>
	</div>


	<!-- server data is safely embedded in a JSON type script -->
	<script id="server_data" type="application/json">
	<?= JSON.stringify(it) ?>
	</script>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
