<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>
</head>

<body ng-controller="WelcomeCtrl" ng-cloak>

	<div>
		<?# def.include( 'common_menu.html') ?>
	</div>

	<div class="poster_area poster1 bgblk" style="display: none">
		<div class="poster_header" style="position: absolute; top:0; left:0; right:0">
			<div class="container">
			</div>
		</div>
		<div class="poster_action" style="position: absolute; bottom:0; left:0; right:0">
			<div class="container">
				<h2 style="margin: 10px 0 0 0">BullyAware. Always vigilant.</h2>
				<p class="lead" style="margin: 15px 0 0 0">
					Someone you know might be the target of cyber-bullying
				</p>
				<p class="lead" style="margin: 10px 0 0 0">
					With our technology you can change that
				</p>
				<p class="lead" style="margin: 10px 0 15px 0">
					<button class="btn btn-lg btn-info" ng-click="on_whatis()">
						Learn More
					</button>
				</p>
			</div>
		</div>
	</div>


	<div class="container text-center" style="margin-top: 30px">
		<blockquote>
			<p>
				“I checked out the page - I think it is amazing. I have never seen any sort of bullying awareness tool like that. I will actually be using the account actually to help with problems with my sister as she has been a major target of bullying over the last few years. Thanks!”
			</p>
		</blockquote>
	</div>

	<div class="container text-center" style="margin-top: 20px">
		<button class="btn btn-lg btn-primary" ng-click="on_getstarted()">
			Get started
		</button>
	</div>


	<div style="background-color: #0b1902; margin-top: 30px; padding: 30px 0; border-top: 1px dashed #75bb34">
		<div class="container">
			<div class="pull-left">
				<b>BullyAware.co</b>
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			<div class="text-right">
				<a href="#" ng-click="on_contact_us()">
					Contact us
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;

				<a href="#" ng-click="on_support_call()">
					Support
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;

				<a href="#" ng-click="on_terms_of_use()">
					Terms of use
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;

				<a href="#" ng-click="on_privacy_policy()">
					Privacy policy
				</a>
			</div>
		</div>
	</div>






	<div class="container" style="margin-top: 0px">


		<div id="main_view" class="row">
			<div class="col-sm-6">

				<div id="box_header" class="bx hide">
					<div class="bgx">
						<h3>BullyAware. Always vigilant.</h3>
					</div>
				</div>

				<div id="box_description" class="bx hide">
					<div id="about_us" class="bgx">
						<p class="lead">
							Parents are always the last to know. In an age of fast and blurry communication BullyAware allows you to monitor and get notified on abusive and offensive social messages.
						</p>
					</div>
				</div>

				<div id="box_signup" class="bx hide">
					<div class="bgx">
						<form id="signup_form" name="form" role="form" novalidate class="css-form">
							<h4>
								Sign Up
							</h4>
							<p>
								If you are interested in our technology and would like to use it please let us know by signing up with you email. We won't spam.
							</p>

							<div class="form-group input-group">
								<input id="user_email" required ng-model="user_email" type="email" class="form-control" placeholder="Your email address" autocomplete="off" ng-readonly="user" name="email" />
								<div class="input-group-btn">
									<button class="btn btn-primary form-control" ng-click="signup()">
										<i class="icon-arrow-right fa-lg fa-fw"></i>
									</button>
								</div>
							</div>

							<div ng-show="false" class="form-group">
								<input id="user_password" required ng-model="user_password" type="password" class="form-control" placeholder="Choose password" ng-readonly="user" name="password" />
							</div>

							<div ng-show="false" class="form-group">
								<input id="user_password2" required ng-model="user_password2" type="password" class="form-control" placeholder="Retype password" ng-readonly="user" name="password2" />
							</div>

							<div ng-show="false" class="form-group">
								<button class="btn btn-primary form-control" ng-click="signup()">
									<i class="icon-arrow-right fa-lg fa-fw"></i>
								</button>
							</div>

						</form>

						<div id="thanks" style="display: none">
							<h3>Thank you!</h3>
							<h5>We will contact you using this email address:</h5>
							<p>
								<b>{{ user && user.email || 'HOLDER' }}</b>
								<!--
 								<a href="/user/logout">
									<small>not me</small>
								</a>
								-->
							</p>
							<br/>

							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-3 control-label">You are a:</label>
									<div class="col-sm-9">
										<select class="form-control" ng-model="user_role" ng-change="on_user_role()">
											<option value="" disabled></option>
											<option value="parent">Parent</option>
											<option value="teenager">Teenager</option>
											<option value="other">Other</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label">Interested in:</label>
									<div class="col-sm-9">
										<span ng-repeat="type in account_types" title="{{type.name}}" ng-click="on_click_account_type(type, $event)" style="cursor: pointer">
											<i style="color: {{(type.checked || type.hover) && type.color || '#d0d0d0'}}" class="{{type.icon}} icon-2x fa-fw" ng-mouseenter="type.hover = true" ng-mouseleave="type.hover = false"></i>
										</span>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>


			</div>

			<div class="col-sm-6">

				<div id="box_analyze" class="bx hide">
					<div class="bgx">
						<h3>Distress level analysis</h3>

						<h5>Enter a Twitter account to perform live analysis:</h5>
						<div class="form-group input-group">
							<div class="input-group-btn">
								<!-- UNUSED DROPDOWN -->
								<button type="button" class="btn btn-default TODO-dropdown-toggle" data-toggle="TODO-dropdown" ng-click="on_tryit_account_type()">
									<i class="{{account_type.icon}} fa-lg fa-fw" style="color: {{account_type.color}}"></i>
									<span ng-show="false" class="caret"></span>
								</button>
								<ul class="dropdown-menu text-left">
									<li ng-repeat="type in account_types">
										<a href="#" ng-click="choose_account_type(type)">
											<i class="{{type.icon}} icon-2x fa-fw" style="color: {{type.color}}"></i>
											{{type.name}}
										</a>
									</li>
								</ul>
							</div>

							<input id="target_account" ng-model="target_account" type="text" class="form-control" placeholder="Enter {{account_type.name}} account" autocomplete="on" />

							<div class="input-group-btn">
								<button type="button" class="btn btn-primary" ng-click="analyze()">
									<i class="icon-arrow-right fa-lg fa-fw"></i>
								</button>
							</div>
						</div>

						<div ng-show="!last_result" class="text-center">
							<i class="icon-spin icon-spinner" style="font-size: 40pxl line-height: 60px"></i>
						</div>

						<div ng-show="last_result">

							<h4>Summary</h4>
							<ul class="icons-ul" style="margin-left: 0; color: {{level_to_color(last_result.level)}}">
								<li>
									<i class="icon-li icon-ok"></i>
									Analyzed Twitter account {{last_query}}
								</li>
								<li>
									<i class="icon-li icon-ok"></i>
									Performed text processing on last {{last_result.messages.length}} messages
								</li>
								<li ng-show="is_level_low(last_result.level)">
									<i class="icon-li icon-ok"></i>
									The current status seems to be fine
								</li>
								<li ng-show="is_level_med(last_result.level)">
									<i class="icon-li icon-ok"></i>
									The current status seems to require some attention
								</li>
								<li ng-show="is_level_high(last_result.level)">
									<i class="icon-li icon-ok"></i>
									The current status seems to be problematic and requires serious attention
								</li>
								<li>
									<i class="icon-li icon-ok"></i>
									Monitoring is advised
								</li>
							</ul>

							<h4>Timeline</h4>
							<p>Click on the points to see the related message</p>
							<div id="graph"></div>

							<h4>Top Priority</h4>
							<ul class="icons-ul" style="margin-left: 0">
								<li ng-repeat="user in last_result.users | limitTo:3" style="padding:0">
									<a ng-href="//twitter.com/{{user.info.screen_name}}" target="_blank" style="color: black">
										<img ng-src="{{user.info.profile_image_url}}" width="30" height="30" style="border: solid 2px white" />
										<!-- <i class="icon-li icon-user fa-fw"></i> -->
										<b>{{ user.info.name }}</b>
									</a>
									<ul class="icons-ul" style="margin-left: 0">
										<li ng-repeat="msg in user.messages | limitTo:3" style="padding:0">
											<i class="icon-li icon-twitter fa-fw" style="color: {{level_to_color(msg.level)}}"></i>
											{{ msg.text }}
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>



	<!-- server data is safely embedded in a JSON type script -->
	<script id="server_data" type="application/json">
	<?= JSON.stringify(it) ?>
	</script>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

	<script src="/public/js/d3.v3.min.js" charset="utf-8"></script>

</body>

</html>
