<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>

		<style type="text/css">
		html, body {
			height: 100%;
		}
		</style>
</head>

<body ng-controller="MainCtrl" ng-cloak>

	<!-- <div class="show_on_load hide_on_unload poster1 poster-fixed"></div> -->

	<div ng-controller="UserHomeCtrl" class="show_on_load hide_on_unload" style="height: 100%">

		<div class="col-sm-5 col-md-4 col-lg-3 leftbar">

			<div class="under_space bgc lrpad">

				<div class="gap-10">
					<?# def.include( 'common_menu.html') ?>
				</div>

				<div class="gap-20"></div>
				<div class="lead text-right" style="padding-right: 10px">
					{{user.email}}
				</div>

				<div class="gap-0"></div>
				<div style="color: #aaa">
					<!-- <i class="fa fa-bar-chart-o fa-fw"></i> -->
					Status
				</div>
				<div class="gap-10"></div>
				<div style="margin-left: 25px">
					<ul class="list-unstyled sidebar">
						<li class="{{active_link('/home/status')}}">
							<a href="/home/status" class="btn btn-link btn-lg">
								<i class="fa fa-bar-chart-o fa-fw"></i>
								Status
							</a>
						</li>
					</ul>
				</div>

				<div class="gap-10"></div>
				<div style="color: #aaa">
					<!-- <i class="fa fa-user fa-fw"></i> -->
					Children
				</div>
				<div class="gap-10"></div>
				<div style="padding-left: 25px">
					<ul class="list-unstyled sidebar">
						<li ng-repeat="person in user_info.persons | orderBy:return_id:false" class="{{active_link('/home/person/'+return_id(person))}}">
							<a href="/home/person/{{return_id(person)}}" class="btn btn-link btn-lg">
								<i class="fa fa-user fa-fw"></i>
								{{person.name}}
							</a>
						</li>
						<li>
							<a href="#" class="btn btn-link btn-lg" ng-click="goto_create()">
								<i class="fa fa-plus fa-fw"></i>
								Add...
							</a>
						</li>
					</ul>
				</div>


				<div class="gap-10"></div>
				<div style="color: #aaa">
					<!-- <i class="fa fa-cog fa-fw"></i> -->
					Settings
				</div>
				<div class="gap-10"></div>
				<div style="padding-left: 25px">
					<ul class="list-unstyled sidebar">
						<li class="{{active_link('/home/preferences')}}">
							<a href="/home/preferences" class="btn btn-link btn-lg">
								<i class="fa fa-cog fa-fw"></i>
								Preferences
							</a>
						</li>
						<li>
							<a ng-click="goto_logout()" href="#" class="btn btn-link btn-lg">
								<i class="fa fa-power-off fa-fw"></i>
								Logout
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="lrpad gap-10">
				<?# def.include( 'common_foot.html') ?>
			</div>
		</div>

		<div class="col-sm-7 col-md-8 col-lg-9" style="min-height: 100%; padding: 0; background-color: white">
			<div ng-view class="view-animate"></div>
		</div>

		<div class="clearfix"></div>

	</div>


	<div>
		<?='<script type="text/ng-template" id="/status">' ?>
			<div>
				<div class="text-center">
					<i class="fa fa-thumbs-up fa-border" style="font-size: 200px; color: #00ff77"></i>
				</div>
				<div ng-repeat="person in user_info.persons | orderBy:return_id:false" class="col-md-6">
					<h3>
						{{person.name}}
						<span ng-if="!reports[person._id]">
							<i class="fa fa-spinner fa-spin"></i>
						</span>
					</h3>
					<hr style="margin-bottom: 0" />
					<div ng-if="!!reports[person._id]">
						<div ng-init="report = reports[person._id]">
							<h4>
								Sent &nbsp; &nbsp;
								<small>{{report.sent.num_msg}} messages</small>
							</h4>
							<!-- <p><b>Profanities found:</b> {{keys_list(report.sent.profanities)}}</p> -->
							<h4>
								Mentioned &nbsp; &nbsp;
								<small>{{report.mention.num_msg}} messages</small>
							</h4>
							<!-- <p><b>Profanities found:</b> {{keys_list(report.mention.profanities)}}</p> -->
						</div>
					</div>
				</div>
			</div>
			<?='</script>' ?>
	</div>

	<div>
		<?='<script type="text/ng-template" id="/prefs">' ?>
			<div>
				<div class="page-header">
					<h1>
						<i class="fa fa-cog fa-fw"></i>
						Preferences
					</h1>
				</div>
				<h3>coming soon...</h3>
			</div>
			<?='</script>' ?>
	</div>

	<div>
		<?='<script type="text/ng-template" id="/person">' ?>
			<div ng-if="person">
				<div class="page-header">
					<h1>
						<i class="fa fa-user fa-fw"></i>
						Edit {{person.name}}
					</h1>
				</div>

				<div ng-repeat="identity_id in person.identities | orderBy:return_arg:false" ng-init="identity=user_info.identity_map[identity_id]">
					<div class="row">
						<div class="col-xs-8">
							<a class="btn btn-link btn-lg" style="color: black" target="_blank" ng-href="//{{identity_link(identity)}}" title="{{identity_link(identity)}}">
								<i class="fa fa-fw fa-twitter fa-lg twitter_color"></i>
								{{ identity_account_name(identity) }}
							</a>
						</div>
						<div class="col-xs-4 text-right">
							<a class="btn btn-link" ng-click="del_identity(person,identity)" title="Remove {{identity_account_name(identity)}}...">
								<i class="fa fa-trash-o" style="color: black"></i>
							</a>
						</div>
					</div>
				</div>

				<hr/>

				<div>
					<p>Add social accounts used by the child.</p>
					<p>Accounts are monitored for social activity of either victim or bully.</p>
					<p>Enter the twitter user name or screen-name (@name) and choose from drop down.</p>
					<button class="btn btn-info btn-lg" title="Add Twitter account" ng-click="click_add_twit(person)">
						<i class="fa fa-twitter fa-lg fa-inverse"></i>
						<i class="fa fa-plus fa-inverse"></i>
					</button>
					<div class="form-group input-group-lg" style="display: inline-block">
						<input nb-twitter-chooser="add_twit_identity(person, $item)" id="new_twit_id_{{return_id(person)}}" class="form-control input-group-lg" type="text" placeholder="Twitter Chooser" style="width: 200px; display: inline-block" />
						<span class="twitter-chooser-spin" style="opacity: 0">
							<i class="fa fa-spinner fa-spin"></i>
						</span>
					</div>
				</div>

				<hr/>

				<div>
					<button class="btn btn-danger btn-lg" ng-click="del_person(person)">
						<i class="fa fa-trash-o"></i>
						Delete {{person.name}}
					</button>
				</div>

				<div class="gap-20"></div>
			</div>
			<?='</script>' ?>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>


	<script type="text/javascript">
	(function() {
		'use strict';
		var bullyaware_app = angular.module('bullyaware_app');
		// define page routes
		bullyaware_app.config(['$routeProvider', '$locationProvider',
			function($routeProvider, $locationProvider) {
				$locationProvider.html5Mode(true);
				$routeProvider.when('/home/person/:person_id', {
					templateUrl: '/person',
					controller: ['$scope', '$routeParams',
						function($scope, $routeParams) {
							$scope.person_id = $routeParams.person_id;
							$scope.person = $scope.user_info ?
								$scope.user_info.person_map[$scope.person_id] : null;
						}
					]
				}).when('/home/preferences', {
					templateUrl: '/prefs'
				}).when('/home/status', {
					templateUrl: '/status'
				}).otherwise({
					redirectTo: '/home/status'
				});
			}
		]);
	})();
	</script>

</body>

</html>
