<!DOCTYPE html>
<html ng-app="bullyaware_app">

<head>
	<?# def.include( 'common_head.html') ?>

		<style type="text/css">
		
		</style>
</head>

<body ng-controller="WhatisCtrl" ng-cloak>

	<div class="stable">
		<?# def.include( 'common_menu.html') ?>
	</div>

	<div class="page_content" style="display: none">
		<div class="poster_area poster2 bgblk">
			<div class="poster_header" style="position: absolute; top:20px; left:0; right:0">
				<div class="container text-center">
					<div class="col-sm-6" style="background-color: white; border-radius: 5px; padding: 10px">
						<a href="#" ng-click="on_yahoo_hackathon()">
							<span class="lead">Winner of Yahoo Hackathon</span>
							<img src="/public/img/ydn.jpg" height="25px" />
						</a>
					</div>
				</div>
			</div>
			<div class="poster_action" style="position: absolute; bottom:0; left:0; right:0">
				<div class="container">
					<h2 style="margin: 15px 0 0 0">Bullyaware. Always vigilant.</h2>
					<p class="lead" style="margin: 10px 0 0 0">
						Someone you know might be the target of cyber-bullying
					</p>
					<p class="lead" style="margin: 10px 0 0 0">
						With our technology you can change that
					</p>
					<p class="lead" style="margin: 15px 0 15px 0">
						<button class="btn btn-lg btn-primary" ng-click="on_getstarted()">
							Get started
						</button>
					</p>
				</div>
			</div>
		</div>


		<div class="container">
			<div style="padding: 40px 0 30px 0;">
				<h1>Six things to know about Bullyaware</h1>
				<hr/>
			</div>

			<h3>1. Bullyaware is a new way to protect teenagers in the social network</h3>
			<br/>
			<p class="lead">
				Cyberbullying is a growing phenomenon with implications on the victims, the abusers and their families. Bullyaware provides tools to monitor and identify bullying activities in social networks and alert all parties involved. Abusers might not be aware of the implications of their misconduct and victims might not be aware of the dangers they are exposed to. Bullyaware provides a safety net to both.
			</p>
			<br/>
			<br/>

			<h3>2. Together parents and teenagers make communities safer</h3>
			<br/>
			<p class="lead">
				Cyberbullying can be stopped if identified as soon as possible, and dealt with the right tools. Teenagers are seldom equipped to handle cyberbullying on their own, nor can their parents catch up with the social activities they are unaware of. It requires cooperation, communication and sensitivity. Bullyaware provides the best in class expertise on dealing with cyberbullying.
			</p>
			<br/>
			<br/>

			<h3>3. Teenagers’ autonomy is of the highest priority</h3>
			<br/>
			<p class="lead">
				Not every bicycle ride requires a stuntman helmet. Forcing excessive precautions that limit the user leads to pushback and rejection of the safety measures all together. Due to their concerns, parents oppose more and more control over their teenagers. This does not lead to a safer conduct but rather to more tension and evasions within the family. Teenagers must be granted their autonomy and they should not be forced into hiding their activities.
			</p>
			<br/>
			<br/>

			<h3>4. Protection only</h3>
			<br/>
			<p class="lead">
				Bullyaware alerts parents on problematic scenarios but does not provide the specific details nor does it breach the fine line of privacy so much needed by teenagers. Bullyaware can’t be used as a spying tool nor as a punishment tool. We will cease to monitor a teenager if there is no buy-in from them or if they require us to stop it.
			</p>
			<br/>
			<br/>

			<h3>5. New technologies to deal with modern threats</h3>
			<br/>
			<p class="lead">
				Current tools focus on spying and site blocking. All these techniques both limit the free use of the network and do not provide any form of protection against cyberbullying. The new threats require that the fight is taken into the arena where it is being conducted – within the social network and not within the home computer.
			</p>
			<br/>
			<br/>

			<h3>6. Our mission is to create a safer network</h3>
			<br/>
			<p class="lead">
				Our activity within the network must not harm it’s fun factor, or its users will look for a different arena. Safe networks are free and allow their users to explore and learn. The safety is provided by supplying a protection layer that guards users from committing fatal mistakes and helps them recover if such mistakes happen.
			</p>
			<br/>
			<br/>

			<p class="lead">
				Together with parents and teenagers, we can make social networks free from cyberbullying!
			</p>
			<p class="lead text-center" style="margin: 15px 0 15px 0">
				<button class="btn btn-lg btn-primary" ng-click="on_getstarted()">
					Get started
				</button>
			</p>
			<br/>
			<div class="text-center">
				<img src="/public/img/stop-bullying-logo.jpg" width="200" />
			</div>
		</div>
	</div>

	<div class="stable_foot">
		<?# def.include( 'common_foot.html') ?>
	</div>

	<div>
		<?# def.include( 'common_scripts.html') ?>
	</div>

</body>

</html>
